<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
<link rel="stylesheet" href="${request.contextPath}/statics/frame/layui-v2/css/layui.css">

<link rel="stylesheet" href="${request.contextPath}/statics/ueditor/themes/iframe.css">
<link rel="stylesheet" href="${request.contextPath}/statics/ueditor/themes/default/css/ueditor.css">

<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${request.contextPath}/statics/js/common.js"></script>
<script src="${request.contextPath}/statics/js/encrypt.js"></script>

<script src="${request.contextPath}/statics/frame/layui-v2/layui.js"></script>

<script src="${request.contextPath}/statics/ueditor/ueditor.config.js"></script>
<script src="${request.contextPath}/statics/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script src="${request.contextPath}/statics/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="${request.contextPath}/statics/business/questionandanswerJS/qa.js"></script>
<!---->
<script src="${request.contextPath}/statics/libs/axios.min.js"></script>
<!--encrypt-->
<script src="${request.contextPath}/statics/libs/crypto-js.min.js"></script>
<script src="${request.contextPath}/statics/libs/pad-zeropadding.js"></script>
<script src="${request.contextPath}/statics/libs/aes.js"></script>
<script src="${request.contextPath}/statics/js/encrypt.js"></script>
