<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/libs/jquery-1.8.2.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>nas盘</title>
</head>
<body>


<div style="height:1000px;width:auto;background-image:url('/img/home.jpg') ;">
    <form id="upload" enctype="multipart/form-data" method="post" role="form">
        <input id="txtFile" name="fileName" type="file" onchange="uploadFile()"/>
    </form>
</div>
<!--<div style="height:100%;width:100%;background-image:url(/img/home.jpg) ;">-->
<!--    <table style="position: center">-->
<!--        <tr>-->
<!--            <td><img src="/img/home.jpg"/></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
</body>
</html>

<script>
    function uploadFile() {
        console.log($('#txtFile'))
        // console.log($('#txtFile').val())
        let params = new FormData($('#upload')[0]);
        console.log(params)

        $.ajax(
            {
                url: '/nas/uploadFile',
                data: params,   // 需要传送的参数
                type: 'POST',   // 请求方式
                dataType: 'json', // 返回数据的格式, 通常为JSON
                contentType: false,
                processData: false,//取消帮我们格式化数据，是什么就是什么
                success: function (result) {
                    console.log(result); // 请求成功后的回调函数, result 为响应内容
                    // window.location.href = result; //如果返回了图片的URL，会转跳到图片URL
                },
                error: function () {
                    console.log('Send Request Fail..'); // 请求失败时的回调函数
                }
            }
        );
    }


    // $.ajax(
    //     {
    //         url: '/nas/upload',
    //         data: JSON.stringify({stuID: stuID2}),   // 需要传送的参数
    //         type: 'POST',   // 请求方式
    //         dataType: 'json', // 返回数据的格式, 通常为JSON
    //         contentType: 'application/json',
    //         success: function (result) {
    //             console.log(result); // 请求成功后的回调函数, result 为响应内容
    //             window.location.href = result.NextUrl;
    //             msg = result.Msg;
    //         },
    //         error: function () {
    //             console.log('Send Request Fail..'); // 请求失败时的回调函数
    //         }
    //     }
    // );
</script>
